// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.catalog-container {
    background-color: rgb(216, 216, 216);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
}

.catalog-box{
    margin: 5px;
}