// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.catalog-container {
    background-color: rgb(216, 216, 216);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.catalog-box{
    margin-top: 10px;
}